<div class="container flex flex-col mx-auto bg-white">
    <aside class="flex flex-col shrink-0 w-full transition-all duration-300 ease-in-out m-0 z-40 inset-y-0 bg-white sidenav" id="sidenav-main">
        <div class="hidden lg:block dark:border-neutral-700/70"></div>
        <div class="flex items-center justify-between px-8 py-5">
            <div class="flex items-center mr-5">
                <div class="mr-5">
                    <div class="inline-block relative shrink-0 cursor-pointer rounded-[.95rem]">
                        <img class="w-[40px] h-[40px] shrink-0 inline-block rounded-[.95rem]" src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/riva-dashboard-tailwind/img/avatars/avatar1.jpg" alt="avatar image">
                    </div>
                </div>
                <div class="mr-2 ">
                    <a class="dark:hover:text-primary hover:text-primary transition-colors duration-200 ease-in-out text-[1.075rem] font-medium dark:text-neutral-400/90 text-secondary-inverse">Carlor alavarez</a>
                    <span class="text-secondary-dark dark:text-stone-500 font-medium block text-[0.85rem]">Administrador/ra</span>
                </div>
            </div>
            <a class="inline-flex text-gray-400 hover:text-gray-500 active:text-gray-400 cursor-pointer">
                <i class="fa fa-gear text-xl"></i>
            </a>
        </div>
        <div class="hidden border-b border-dashed lg:block dark:border-neutral-700/70 border-neutral-200"></div>
        <div class="relative pl-3 my-5 overflow-y-scroll">
            <div class="flex flex-col w-full font-medium">
                <!-- menu item -->
                @for(item of nav; track item.id) {
                    <div>
                        <span class="select-none flex items-center px-4 py-1 cursor-pointer my-[.4rem] rounded-[.95rem]">
                            <a routerLinkActive="font-bold" [routerLink]="item.path" class="flex items-center flex-grow text-[1.15rem] text-stone-500 hover:text-stone-300">{{ item.label }}</a>
                        </span>
                    </div>
                }
                <!-- menu item -->
                <!-- <div class="block pt-5 pb-[.15rem]">
                    <div class="px-4 py-[.65rem]">
                        <span class="font-semibold text-[0.95rem] uppercase dark:text-neutral-500/80 text-secondary-dark">Applications</span>
                    </div>
                </div> -->
            </div>
        </div>
    </aside>
</div>
