<div class="block input-group-custom">
    <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa fa-home"></i>
        </span>
        <input type="text" class="form-control" readonly data-bs-toggle="modal" data-bs-target="#exampleModal">
    </div>
</div>
<div class="modal fade" data-bs-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content w-full p-3 rounded-lg overflow-hidden">
            <div class="modal-header text-1xl px-3">
                <span>Direccion</span>
                <button type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3">
                <div class="grid grid-cols-12 gap-2 w-full items-end">
                    <!--  -->
                    <div class="col-span-6">
                        <app-input-select ui="default" [options]="options" />
                    </div>
                    <div class="col-span-6">
                        <app-input-text ui="default" />
                    </div>
                    <!--  -->
                    <div class="col-span-6">
                        <app-input-select ui="default" [options]="options" />
                    </div>
                    <div class="col-span-6">
                        <app-input-text ui="default" />
                    </div>
                    <!--  -->
                    <div class="col-span-6">
                        <app-input-select ui="default" [options]="options" />
                    </div>
                    <div class="col-span-6">
                        <app-input-text ui="default" />
                    </div>
                    <!--  -->
                    <div class="col-span-6">
                        <app-input-select ui="default" [options]="options" />
                    </div>
                    <div class="col-span-6">
                        <app-input-text ui="default" />
                    </div>
                </div>
            </div>
            <div class="modal-footer px-3">
                <button type="button" data-bs-dismiss="modal" class="inline-block py-1 px-3 bg-red-500 hover:bg-red-600 text-white rounded-md">Cerrar</button>
                <button type="button" data-bs-dismiss="modal" class="inline-block py-1 px-3 bg-green-500 hover:bg-green-600 text-white rounded-md">Guardar</button>
            </div>
        </div>
    </div>
</div>
