<div>
  <label for="geometryTypeSelect">Seleccionar tipo de geometría:</label>
  <select id="geometryTypeSelect" (change)="onGeometryTypeChange()">
    <option value="Point">Punto</option>
    <option value="LineString">Línea</option>
    <option value="Polygon">Polígono</option>
    <option value="Circle">Círculo</option>
    <option value="Square">Cuadrado</option>
    <option value="Ellipse">Elipse</option>
    <option value="Shapefile">Shapefile (.shp)</option>
  </select>
</div>

<div>
  <label for="fileInput">Cargar Shapefile:</label>
  <input type="file" id="fileInput" accept=".zip" (change)="onFileInputChange($event)">
</div>
<div #map></div>