<div class="block w-full input-group-custom">
    @if(label){
    <label class="block" [ngClass]="sizeLabel">
        @if(index){
            <span class="text-orange-500 mr-2">{{ index }}.</span>
        }
        {{ label }}
    </label><!--  for="xxx" -->
    }
    <div class="input-group">
        @if(icon){
            <span class="input-group-text">
                <i class="fa" [ngClass]="icon"></i>
            </span>
        }
        <input [type]="type" [(ngModel)]="currentValue" (input)="changeInput()" class="form-control" id="xxx">
    </div>
</div>
