<div class="flex flex-wrap">
    <div class="w-full">
        <app-nav-top />
    </div>
    <div class="w-full">
        <div class="flex flex-wrap">
            <div class="w-[320px] border-r">
                <div class="sticky top-0">
                    <app-side-bar />
                </div>
            </div>
            <div class="grow basis-[0]">
                <div class="block max-w-[1320px] mx-auto">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>