<form class="grid grid-cols-12 gap-5 p-4">
    <div class="col-span-full">
        <div class="grid grid-cols-12 gap-5 items-center">
            <div class="col-span-8 text-center">
                <h1 class="text-2xl yuca">ENCUESTA DE CARACTERIZACIÓN <b class="text-orange-500">CAMINATE</b></h1>
                <p>Nota: se aplica a mayores de 14 años</p>
            </div>
            <div class="col-span-4">
                <div class="grid grid-cols-12 gap-3 items-center border rounded-md p-3">
                    <div class="col-span-4 text-center">
                        <h1 class="text-xl">Encuestador</h1>
                    </div>
                    <div class="col-span-8">
                        <app-input-text label="Codigo" />
                    </div>
                    <div class="col-span-full">
                        <app-input-text />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-full mb-6">
        <div class="grid grid-cols-12 gap-4 items-end">
            <div class="col-span-8">
                <div class="block bg-orange-100 p-3 rounded-md">
                    <strong class="text-lg">CONFIDENCIALIDAD:</strong>
                    <p>Los datos consignados en este formulario son estrictamente confidenciales y serán utilizados únicamente con fines académicos y estadísticos.</p>
                </div>
            </div>
            <div class="col-span-4">
                <app-input-text label="Fecha de encuesta" type="date" />
            </div>
        </div>
    </div>
    <div class="col-span-full">
        <h1 class="text-xl">I. CARACTERISTICAS SOCIODEMOGRAFICAS <span class="text-orange-500">(Marque con una X)</span></h1>
    </div>
    <div class="col-span-full">
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-4 ui-box-input">
                <app-input-text type="date" index="1" label="Fecha de ingreso al País" />
            </div>
            <div class="col-span-4 grid gap-3 grid-cols-12 ui-box-input">
                <div class="col-span-8">
                    <app-input-text type="text" index="2" label="Nombre y apellido" />
                </div>
                <div class="col-span-4">
                    <app-input-text type="number" index="2.1" label="Edad" />
                </div>
            </div>
            <div class="col-span-4 grid gap-3 grid-cols-12 ui-box-input">
                <div class="col-span-6">
                    <app-input-check icon="fa-phone" index="3" label="Sexo" [options]="DataForm.sexo" />
                </div>
                <div class="col-span-6">
                    <app-input-check icon="fa-phone" index="3.1" label="Embarazo?" [options]="DataForm.siNo" />
                </div>
            </div>
            <div class="col-span-4 ui-box-input">
                <div class="grid gap-3">
                    <app-input-select index="4" label="Departamento" icon="fa-map-marker" />
                    <app-input-select index="4.1" label="Municipio y direccion" icon="fa-map-marker" />
                    <app-input-modal-address />
                    <app-input-text index="6" label="Teléfono de contacto" icon="fa-phone" />
                </div>
            </div>
            <div class="col-span-8 grid gap-3 grid-cols-12 ui-box-input">
                <div class="col-span-6">
                    <app-input-check index="7" label="Grado de escolaridad" [options]="DataForm.gradoEscolar" />
                </div>
                <div class="col-span-6">
                    <app-input-textarea index="7.1" label="Título académico" />
                </div>
            </div>
            <div class="col-span-4 ui-box-input">
                <app-input-check index="8" label="Qué tipo de documento de identificación tiene?" [options]="DataForm.tipoDocumento" />
            </div>
            <div class="col-span-4 ui-box-input">
                <app-input-check index="9" label="Su situación actual es:" [options]="DataForm.condicionActual" />
            </div>
        </div>
    </div>
    <div class="col-span-full">
        <h1 class="text-xl">II. PREGUNTAS <span class="text-orange-500">(Marque con una X)</span></h1>
    </div>
    <div class="col-span-full">
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-4 ui-box-input">
                <app-input-check index="10" label="En el futuro usted esperaría:" [options]="DataForm.proyeccionFuturo" />
                <div class="mt-3">
                    <app-input-text index="10.1" label="Lugar destino" icon="fa-map-marker" />
                </div>
            </div>
            <div class="col-span-4 ui-box-input">
                <app-input-check index="11" label="Cuál es su proyección en el país?" [options]="DataForm.proyeccionPais" />
            </div>
        </div>
    </div>
    <div class="col-span-full">
        <h1 class="text-xl">III. CARACTERIZACIÓN DE RUTA Y POBLACIÓN</h1>
    </div>
    <div class="col-span-full">
        <div class="grid grid-cols-12 gap-4">
            <div class="col-span-4">
                <div class="block mb-3 ui-box-input">
                    <app-input-check index="12" label="La ruta que sigue en el país es:" [options]="DataForm.caracterizacionRuta" />
                </div>
                <div class="block ui-box-input">
                    <app-input-check type="checkbox" index="13" label='Por qué ciudad fronteriza ingresó al país?' [options]="DataForm.ciudadFronteriza" />
                    <div class="mt-3">
                        <app-input-textarea index="13.1" label="Cuál?" />
                    </div>
                </div>
            </div>
            <div class="col-span-4">
                <div class="col-span-full ui-box-input">
                    <div class="block mb-3">
                        <app-title-index index="14" label="A continuaciòn relacione el número de personas con las que realiza el trayecto desde su partida" />
                    </div>
                    <div class="col-span-full">
                        <table class="w-full">
                            <colgroup>
                                <col width="auto">
                                <col width="100">
                            </colgroup>
                            <tbody class="divide-y">
                                <tr>
                                    <td>Niños menores de 5 años</td>
                                    <td class="p-1"><app-input-text type="number" /></td>
                                </tr>
                                <tr>
                                    <td>Niños (Entre 6 y menores de 14 años)</td>
                                    <td class="p-1"><app-input-text type="number" /></td>
                                </tr>
                                <tr>
                                    <td>Adolescentes (Entre 14 y menores de 18 años)</td>
                                    <td class="p-1"><app-input-text type="number" /></td>
                                </tr>
                                <tr>
                                    <td>Adultos (Entre 18 y 59 años)</td>
                                    <td class="p-1"><app-input-text type="number" /></td>
                                </tr>
                                <tr>
                                    <td>Adultos (Mayores de 60 años)</td>
                                    <td class="p-1"><app-input-text type="number" /></td>
                                </tr>
                                <tr>
                                    <td>Mujeres embarazadas</td>
                                    <td class="p-1"><app-input-text type="number" /></td>
                                </tr>
                                <tr>
                                    <td>Personas con discapacidad</td>
                                    <td class="p-1"><app-input-text type="number" /></td>
                                </tr>
                                <tr>
                                    <td>Mascotas</td>
                                    <td class="p-1"><app-input-text type="number" /></td>
                                </tr>
                                <tr class="bg-blue-100">
                                    <td class="p-1">Total personas del grupo caminante</td>
                                    <td class="p-1"><app-input-text type="number" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-span-4">
                <div class="block mb-3 ui-box-input">
                    <app-input-text index="15" type="number" label="En cuántos lugares de Colombia ha intentado quedarse?" />
                </div>
                <div class="block mb-3 ui-box-input">
                    <app-input-textarea index="16" label="Mencione qué aspectos ha considerado para quedarse en un lugar?" />
                </div>
            </div>
            <div class="col-span-4 ui-box-input">
                <div class="block mb-3 ">
                    <app-input-text index="15" type="number" label="En cuántos lugares de Colombia ha intentado quedarse?" />
                </div>
            </div>
            <div class="col-span-4">
                <div class="col-span-full ui-box-input">
                    <app-input-textarea index="16" label="Mencione qué aspectos ha considerado para quedarse en un lugar?" />
                </div>
            </div>
            <div class="col-span-4">
                <div class="col-span-full ui-box-input">
                    <div class="block mb-3">
                        <app-title-index index="17" label="Mencione los lugares donde ha permanecido y el" />
                    </div>
                    <table class="w-full mb-2">
                        <thead>
                            <tr>
                                <th>Lugar</th>
                                <th width="100">Tiempo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><app-input-text /></td>
                                <td><app-input-text type="number" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="block text-right">
                        <button type="button" class="inline-block py-1 px-3 bg-blue-500 hover:bg-blue-600 text-white rounded-md">Agregar</button>
                    </div>
                </div>
            </div>
            <div class="col-span-4">
                <div class="col-span-full ui-box-input">
                    <app-input-check index="18" label="Qué cosas ha realizado usted para ubicarse en un nuevo lugar?" [options]="DataForm.ayudasEntidades" />
                    <div class="block mt-3">
                        <app-input-textarea index="18.1" label="Cual?" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-full">
        <h1 class="text-xl">III. CARACTERIZACIÓN DE RUTA Y POBLACIÓN</h1>
    </div>
</form>
